@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You Want To Delete This Employee !!</h1>
<form asp-action="Delete">
    <input hidden asp-for="@Model.Id" />

    <partial name="PatialViews/_DetailsDeletePartialView"></partial>

    <br />
    <input type="submit" value="Delete" class="btn btn-danger" />|
    <a asp-action="Index" class="btn btn-light">Cancel</a>
    <br />
    <br />


</form>

